<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-dashboard}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Blog</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <div class="container">
            <div class="row">
<!--                <div class="col-sm-6 col-lg-3">-->
<!--                    <div class="card border card-body p-3">-->
<!--                        <div class="d-flex align-items-center">-->
<!--                            <div class="icon-xl fs-1 bg-success bg-opacity-10 rounded-3 text-success">-->
<!--                                <i class="bi bi-people-fill"></i>-->
<!--                            </div>-->
<!--                            <div class="ms-3">-->
<!--                                <h3>134K</h3>-->
<!--                                <h6 class="mb-0">View</h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card border card-body p-3">
                        <div class="d-flex align-items-center">
                            <div class="icon-xl fs-1 bg-primary bg-opacity-10 rounded-3 text-primary">
                                <i class="bi bi-file-earmark-text-fill"></i>
                            </div>
                            <div class="ms-3">
                                <h3 th:text="${sizePost}">134K</h3>
                                <h6 class="mb-0">Posts</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
</body>
</html>