
body{
    font-family: 'Rubik', sans-serif;
}

.navbar{
    z-index: 1020;
    background-color: #FFFFFF;
    animation: 0.5s;
}
/* CSS untuk dropdown menu */
.dropdown-menu {
    display: none; /* Sembunyikan menu secara default */
    position: absolute;
    background-color: #fff; /* Warna latar belakang */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Efek bayangan */
    z-index: 1;
}

/* Tampilkan menu ketika mouse hover pada dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style untuk setiap item dropdown */
.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
}

/* Efek hover pada item dropdown */
.dropdown-item:hover {
    background-color: #f8f9fa; /* Warna latar belakang saat hover */
    color: #555; /* Warna teks saat hover */
}

/* CSS untuk card dan efek hover pada judul */
.card-title a {
    position: relative; /* Mengatur posisi relatif untuk elemen a di dalam .card-title */
    text-decoration: none; /* Hilangkan garis bawaan dari tautan */
    color: inherit; /* Gunakan warna teks default (warisan) */
    transition: all 0.3s ease; /* Transisi untuk efek hover */
}

/*.card-title a:hover {*/
/*    text-decoration: underline; !* Tambahkan garis bawah saat hover *!*/
/*}*/

.card-title a:hover{
    left: 0; /* Geser pseudo-element ke dalam batas tautan */
    width: 100%; /* Tampilkan garis bawah dari kanan ke kiri */
    text-decoration: underline;
}



section {
    padding-top: 3.5rem;
    padding-bottom: 2.8rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block !important;
}
.card {
    border-radius: 0.7rem;
}
.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card.card-overlay-bottom {
    overflow: hidden;
}
.card.card-overlay-bottom:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background-image: linear-gradient(180deg, transparent, black);
    z-index: 1;
}
.card-bg-scale:hover::after {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s !important;
    transition: all 1s !important;
}

.img-preview{
    width: 100%
}

.card-img-top {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}
.card-img-container {
    width: 100%;
    height: 400px; /* Fixed height for the container */
    overflow: hidden; /* Hide overflow */
}
.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}
.card-img-container:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
}

.card-text{
    color: #595D69;

}
.card-title{
    color: #191A1F;
}
.text-link{
    color: #595D69 !important;
}